<article class="group flex flex-row">

  <figure class="basis-1/3 aspect-square overflow-hidden rounded-lg bg-zinc-100 flex items-center justify-center">


    {{- if .Params.image }}
      {{- if (strings.HasPrefix .Params.image "http") }}
        <a href="{{ .Permalink }}">
          
          <img
            class="rounded-lg"
            src="{{ .Params.image }}?auto=compress&cs=tinysrgb&w=380"
            srcset="{{ .Params.image }}?auto=compress&cs=tinysrgb&w=380 380w, {{ .Params.image }}?auto=compress&cs=tinysrgb&w=715 715w, {{ .Params.image }}?auto=compress&cs=tinysrgb&w=1200 1200w"
            sizes="(max-width: 420px) 380px, (max-width: 768px) 715px, 1200px"
            width="715"
            height="402"
            alt="{{ .Title }}"
            loading="lazy"
            decoding="async"
          />  
        </a>
      {{- else }}
        {{- with $img := resources.Get .Params.image }}
          {{- $thumb := $img.Crop "250x250 Center" }}
          <a href="{{ .Permalink }}">
            <img
              class="object-cover h-full w-full group-hover:scale-105 transition duration-500"
              src="{{ $thumb.Permalink }}"
              alt="{{ .Title }}"
              width="{{ $thumb.Width }}"
              height="{{ $thumb.Height }}">
          </a>
        {{- end }}
      {{- end }}
    {{- end }}
  </figure>

  <div class="basis-2/3 self-center ml-4">
    <h3 class="font-bold group-hover:underline decoration-auto">
      <a href="{{ .Permalink }}" class="text-inherit">{{ .LinkTitle }}</a>
    </h3>
  </div>

</article>
